<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
    <title>Todo List</title>
</head>
<body>
    <div id="root">
        <header>
            <img src="https://www.boolean.careers/images/misc/logo.png" alt="">
        </header>
        <nav>
            <input type="text" placeholder="Nuovo Todo" v-model='input' @keypress.enter='insertTodo'>
            <input type="submit" id="invia" @click="insertTodo(input,lista)" value="Aggiungi">
            <input type="submit" value="Undo" @click="unDo(lista)">
        </nav>
        <div class="lista" >
            <ul v-if="lista.length >0">
                <li v-for= "(element, index) in lista">
                    {{element}}
                    <i class="fas fa-times" @click="deleteTodo(index,lista)"></i>
                </li>
            </ul>
            <h2 v-else>Non ci sono cose da fare</h2>
        </div>
        
    </div>
    <script src="main.js"></script>
</body>
</html>