* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 60%;
    margin: 30px auto;
}

header {
    text-align: center;
}
header img {
    height: 100px;

}
nav {
    text-align: center;
    margin: 20px 0;
}

.lista {
    background-color:whitesmoke;
    border-radius: 10px;
    padding: 20px;

}
.lista > ul > li {
    width: 100%;
    line-height: 30px;
    border-bottom: 1px solid lightgrey;
    position: relative;   
    list-style: none;
    cursor: pointer;
}

.lista > ul li > i {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.lista > ul > li:hover {
    background-color: white;
}

.lista > ul > li > i:hover {
    color: red;
}

input {
    padding: 10px;
    margin-right: 10px;
}